<%= content_for :head do %>
  <title>Log in | Sawir Forum</title>
  <meta name="description" content="Awesome forum where you can share awesoem ideas, thoughts, and so on.">
<% end %>
<div>
  <div class="max-w-3xl mx-auto p-8">
    <h1 class="text-center font-bold">Log in</h1>
    <div class="text-center"><%= link_to "Don't have an account?", new_user_path,class:"text-gray-400 hover:text-gray-800" %></div>
    <% flash.each do |key,value| %>
      <% if key == 'error' %>
        <div class="bg-red-100 border-red-500 border text-red-500 px-4 py-2 text-xs"><%= value %></div>
      <% end %>
      <% if key == 'notice' %>
        <div class="bg-green-100 border-green-500 border text-green-500 px-4 py-2 text-xs"><%= value %></div>
      <% end %>
    <% end %>
    <%= form_with model: @user, url:session_path,class:"space-y-4" do |f|%>
      <%= f.email_field :email,placeholder:'Email', class:'border border-gray-300 rounded-md px-4 py-2 block w-full'%>
      <%= f.password_field :password,placeholder:'Password', class:'border border-gray-300 rounded-md px-4 py-2 block w-full'%>
      <div class="flex justify-end"><%= f.submit "Log in", class:'bg-gray-200 hover:bg-gray-400 px-4 py-2 text-center cursor-pointer rounded-md' %></div>
    <% end %>
  </div>
</div>
