<div>
  <div class="bg-gray-200 px-4 py-10">
    <div class="max-w-5xl mx-auto">
      <h1 class="text-3xl font-bold">Sawir Forum</h1>
      <p>Find new ideas, discussions and more interesting things.</p>
    </div>
  </div>
  <main>
    <div class="max-w-5xl mx-auto py-8 px-4 md:px-0">
      <div class="grid grid-cols-1 md:grid-cols-4 gap-8 max-w-6xl mx-auto">
        <div class="col-span-3">
          <div class="flex border-b border-gray-100">
            <%= link_to 'Global Feed', root_path,class:"text-blue-500 border-b border-blue-800 px-4 py-2 text-xs" %>
            <% if logged_in? %>
              <%= link_to 'Personal Feed', feed_path,class:"text-gray-400 hover:text-gray-800 px-4 py-2 text-xs" %>
            <% end %>
          </div>
          <div class="mt-4">
            <% if @articles.empty? %>
              <div class="text-center">No articles yet here</div>
            <% end %>
            <% unless @articles.empty? %>
              <div class="space-y-12">
                <% @articles.each do |article| %>
                  <div class="">
                    <div class="flex items-center justify-between">
                      <div class="flex items-center space-x-2">
                        <%= link_to profile_path(article.user.name) do %>
                          <%= image_tag article.user.image,class:"w-8 h-8 rounded-full" %>
                        <% end %>
                        <div class="">
                          <%= link_to article.user.name, profile_path(article.user.name),class:"text-xs" %>
                          <div class="text-xs text-gray-600"><%= time_ago_in_words(article.created_at) %></div>
                        </div>
                      </div>
                      <div>
                        <% unless logged_in? %>
                          <%= link_to favoriters_path(article.slug), method: :post,class:"text-gray-400 hover:text-gray-800 inline-flex space-x-2" do %>
                            <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                              <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                            </svg>
                            <span><%=article.favoriters.length%></span>
                          <% end %>
                        <% end %>
                        <% if logged_in? %>
                          <% if article.favoriters.any?{|favoriter|  favoriter.user_id == current_user.id} %>
                            <%= link_to  favoriters_path(article.slug),method: :delete,class:"text-red-400 hover:text-red-800 inline-flex space-x-2" do %>
                              <svg xmlns="http://www.w3.org/2000/svg" class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                                <path fill-rule="evenodd" d="M3.172 5.172a4 4 0 015.656 0L10 6.343l1.172-1.171a4 4 0 115.656 5.656L10 17.657l-6.828-6.829a4 4 0 010-5.656z" clip-rule="evenodd" />
                              </svg>
                              <span class="text-gray-700"><%=article.favoriters.length%></span>
                            <% end %>
                          <% end %>
                          <% unless article.favoriters.any?{|favoriter|  favoriter.user_id == current_user.id} %>
                            <%= link_to favoriters_path(article.slug), method: :post,class:"text-gray-400 hover:text-gray-800 inline-flex space-x-2" do %>
                              <svg xmlns="http://www.w3.org/2000/svg" class="h-6 w-6" fill="none" viewBox="0 0 24 24" stroke="currentColor">
                                <path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M4.318 6.318a4.5 4.5 0 000 6.364L12 20.364l7.682-7.682a4.5 4.5 0 00-6.364-6.364L12 7.636l-1.318-1.318a4.5 4.5 0 00-6.364 0z" />
                              </svg>
                              <span><%=article.favoriters.length%></span>
                            <% end %>
                          <% end %>
                        <% end %>
                      </div>
                    </div>
                    <div class="mt-2">
                      <%= link_to article_path(article.slug) do %>
                        <h2 class="font-bold"><%= article.title %></h2>
                        <p class="text-gray-600 text-xs"><%= article.description %></p>
                        <span class="mt-4 text-gray-600 text-xs">Read more</span>
                      <% end %>
                    </div>
                    <% unless article.tags.empty? %>
                      <div class="mt-2">
                        <% article.tags.each do |tag| %>
                          <%= link_to tag.name, articles_path(tag:tag.name),class:'inline-block px-2 py-1 rounded-full bg-gray-200 hover:bg-gray-300 m-1 text-xs' %>
                        <% end %>
                      </div>
                    <% end %>
                  </div>
                <% end %>
              </div>
            <% end %>
          </div>
        </div>
        <div>
          <div class="bg-gray-100 p-2 rounded-md">
            <h2 class="m-2">Popular tags</h2>
            <div>
              <% @tags.each do |tag| %>
                <%= link_to tag.name, articles_path(tag:tag.name),class:'inline-block px-2 py-1 rounded-full bg-gray-200 hover:bg-gray-300 m-1 text-xs' %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </main>
</div>
